:root {
    --background-color: #f0f2f5;
    --text-color: #333;
    --primary-color: #007bff;
    --section-background: #fff;
    --border-color: #ddd;
    --card-background: #fff;
    --card-border: #ddd;
    --card-text: #666;
}

.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #f0f2f5;
    --primary-color: #00aaff;
    --section-background: #2a2a2a;
    --border-color: #444;
    --card-background: #2a2a2a;
    --card-border: #444;
    --card-text: #ccc;
}